/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  color: rgb(85, 85, 84);
}
.container{
  background-color: rgb(182, 209, 218);
  padding: 20px;
  max-width: 500px;
  margin: 10% auto;
} */